{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.avl {:mvn/version "0.1.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        io.github.bortexz/utils.math {:mvn/version "0.0.2"}
        io.github.bortexz/graphcom {:mvn/version "0.1.0"}
        better-cond/better-cond {:mvn/version "2.1.5"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps
        {hato/hato {:mvn/version "0.8.2"}
         metosin/jsonista {:mvn/version "0.3.6"}}}
  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.2" :git/sha "0ffdb4c"}}
          :ns-default build}}}